:root {
  --background: #131313;
  --foreground: #171717;
}

html,
body {
  max-width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
