:root {
  --background: #0b0b0b;
  --orange: #ff462e;
}

html,
body {
  max-width: 100%;
}

body {
  color: #ffffff;
  background: var(--background);
  padding: 0px 40px;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    padding: 0px 24px;
  }
}
